<!DOCTYPE html>
<html>
<head>
  <title>SimpleS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<h1> :Student App </h1>
</div>
<% flash.each do |name , msg| %>
	<%= content_tag :div , msg , class: "flash #{name}" %>
<% end %>
<section class="container">
	<% if logged_in? %>
		<ol class="breadcrumb">
		  <li><%= link_to "Dashboard", "/dashboard" %></li>
		  <li><%= link_to "Add Level", "/addlevel" %> </li>
		  <li><%= link_to "Signout" , "/signout" %></li>
		</ol>
	<% end %>
</section>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
